<div style="background-color: #fff; display: flex; flex-direction: column; width: 100%; height: 65px; position: fixed; z-index: 1001">
<div class="bili-header-bar">
    <ul class="left-entry">
        <li class="v-popover-wrap">
            <a href="/" class="left-entry-title">
                <img class="brand" src="assets/svgIcons/bili-logo.svg">
                <div class="mini-header-title">
                    <span>首页</span>
                    <img src="assets/svgIcons/up-arrow.svg">
                </div>
            </a>
        </li>
        <li class="v-popover-wrap">
            <a href="/" target="_blank" class="default-entry">
                <span>番剧</span>
            </a>
        </li>
    </ul>
    <div class="center-search-container">
        <div class="center-search-bar">
            <form class="nav-searchform">
                <div class="nav-search-content">
                    <input class="nav-search-input" type="text" autocomplete="off">
                </div>
                <div class="nav-search-btn">
                    <img src="assets/svgIcons/search-btn.svg">
                </div>
            </form>
        </div>
    </div>
    <ul class="right-entry">
        <ng-template [ngIf]="!infoService.log_state">
          <li class="v-popover-wrap header-avatar-wrap">
            <div class="header-avatar-wrap">
              <div class="header-login-entry" (click)="login()">
                <span>登录</span>
              </div>
            </div>
          </li>
        </ng-template>
        <ng-template [ngIf]="infoService.log_state">
            <li class="v-popover-wrap header-avatar-wrap">
                <div class="header-avatar-wrap">
                    <a [href]="infoService.info.url" target="_blank" class="header-entry-mini">
                        <picture class="v-img">
                            <img [src]="infoService.info.avatar" alt="" loading="lazy" onload="">
<!--                            <img src="https://i2.hdslb.com/bfs/face/99953a4bdcb321329a40a87ef467b9eb28b483d0.jpg@120w_120h_1c" alt="" loading="lazy" onload="">-->
                        </picture>
                    </a>
                  <div class="dropdown">
                    <div style="height: 15px;"></div>
<!--                    <div class="dropdown-item" (click)="logout()">-->
<!--                      <div style="display: flex; align-items: center; justify-content: center;">-->
<!--                        <img style="margin:0 5px 0 0; position: relative; left: 0;" src="assets/svgIcons/logout.svg">-->
<!--                        <span style="position:relative;">个人信息</span>-->
<!--                      </div>-->
<!--                      <div>-->
<!--                        <img style="transform: rotate(-90deg); " src="assets/svgIcons/right-arrow.svg">-->
<!--                      </div>-->
<!--                    </div>-->
                    <div style="background: #e3e5e7; width: 100%; height: 1px; margin: 10px 0"></div>
                    <div class="dropdown-item" (click)="logout()">
                      <div style="display: flex; align-items: center; justify-content: center;">
                        <img style="margin:0 5px 0 0; position: relative; left: 0;" src="assets/svgIcons/logout.svg">
                        <span style="position:relative;">退出登录</span>
                      </div>
                      <div>
                        <img style="transform: rotate(-90deg); " src="assets/svgIcons/right-arrow.svg">
                      </div>
                    </div>
                  </div>
                </div>
            </li>
        </ng-template>
        <li class="right-entry-item-upload">
            <div class="v-popover-wrap">
                <a href="/submit" target="_blank">
                    <div class="header-upload-entry">
                        <img src="assets/svgIcons/upload-btn.svg">
                        <span class="header-upload-entry-text">投稿</span>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>
  <div style="height: 1px; width: 100%; background: #e3e5e7;"></div>
</div>
<div style="height: 65px; width: 100%; background-color: #00a1d6; display: block;"></div>
