<div class="bili-header-bar">
    <ul class="left-entry">
        <li class="v-popover-wrap">
            <a href="/" class="left-entry-title">
                <img class="brand" src="assets/svgIcons/bili-logo.svg">
                <div class="mini-header-title">
                    <span>首页</span>
                    <img src="assets/svgIcons/up-arrow.svg">
                </div>
            </a>
        </li>
        <li class="v-popover-wrap">
            <a href="/" target="_blank" class="default-entry">
                <span>番剧</span>
            </a>
        </li>
    </ul>
    <div class="center-search-container">
        <div class="center-search-bar">
            <form class="nav-searchform">
                <div class="nav-search-content">
                    <input class="nav-search-input" type="text" autocomplete="off">
                </div>
                <div class="nav-search-btn">
                    <img src="assets/svgIcons/search-btn.svg">
                </div>
            </form>
        </div>
    </div>
    <ul class="right-entry">
        <ng-template [ngIf]="true">
            <li class="v-popover-wrap header-avatar-wrap">
                <div class="header-avatar-wrap">
                    <a href="/" target="_blank" class="header-entry-mini">
                        <picture class="v-img">
                            <img src="https://i2.hdslb.com/bfs/face/99953a4bdcb321329a40a87ef467b9eb28b483d0.jpg@120w_120h_1c" alt="" loading="lazy" onload="">
                        </picture>
                    </a>
                </div>
            </li>
        </ng-template>
        <li class="right-entry-item-upload">
            <div class="v-popover-wrap">
                <a href="/" target="_blank">
                    <div class="header-upload-entry">
                        <img src="assets/svgIcons/upload-btn.svg">
                        <span class="header-upload-entry-text">投稿</span>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>