.bili-mini-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 14px;
    background: rgba(0,0,0,.5);
    z-index: 10010;
    justify-content: center;
    align-items: center;
    display: flex;
}
.bili-mini{
    width: 820px;
    /* height: 100%; */
    border-radius: 8px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
    padding: 52px 65px 29px 92px;
    box-sizing: border-box;
    background-color: #fff;
    background-image: url(https://s1.hdslb.com/bfs/seed/jinkela/short/mini-login/img/22_open.72c00877.png);
    background-position: 0 100%,100% 100%;
    background-repeat: no-repeat,no-repeat;
    background-size: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
.bili-mini-close{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 20px;
    right: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEgSURBVHgB7ddLCsIwEAbgSXqRepReQnAjuBJPJK4EN4KX8Cj2Im1NSldhYubVjc2/0BLJ5AObTAtQU/Nncdjg7fH6xO9xGLrL6dCDYa73Z+ub5h2vz8f9Lv3do7Om+XOeGAuAPaZd1gASaByHLkzoLVEJpp/XQOJ+FvChgAsFIBRQ/H0YJlfLFQspURxMEaRFcTEkkBQlwZBBXJQUwwJRURoMG1RCaTEiUA4Vx7UYMQhDLcMqjAqEoECLifGgjctcG5RjJb2Bl2otKNuM/KZGGqVF75Nt+8xusuh9/IOxsLW1KF7rIJ4zGhS9uTIPPSmK9vghPIElqPIDmrIdcFFuTYwE5dbGcFFo67DGxMQa6dsMujY6ewKwxKCoCWpqtpEvwlafLd9Y4QQAAAAASUVORK5CYII=) no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 2;
    color: #000;
    user-select: none;
    display: block;
}
.bili-mini-content{
    display: flex;
}
.bili-mini-login-wrapepr{
    width: 400px;
    display: block;
}
.bili-mini-tab{
    color: #505050;
    display: flex;
    justify-content: center;
    height: 20px;
    user-select: none;
  margin-right: 50px;
}
.bili-mini-password-wrapper{
    width: 100%;
    margin-top: 24px;
}
.bili-mini-account{
    display: flex;
    padding: 0 20px;
    align-items: center;
    border: 1px solid #e7e7e7;
    border-radius: 8px 8px 0 0;
    height: 43px;
    user-select: none;
}
.bili-mini-password{
    position: relative;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e7e7e7;
    border-radius: 0 0 8px 8px;
    height: 43px;
    user-select: none;
}
.bili-mini-account .text{
    margin-right: 20px;
    font-size: 14px;
    color: #212121;
}
.bili-mini-password .text{
    margin-right: 20px;
    font-size: 14px;
    color: #212121;
}
.eye-btn{
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.bili-mini-login-register-wrapper{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.register-btn{
    border: 1px solid #e7e7e7;
    color: #000;
    margin-right: 13px;
}
.universal-btn{
    box-sizing: border-box;
    width: 194px;
    height: 40px;
    border-radius: 8px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}
.login-btn{
    background-color: #00a1d6;
    color: #fff;
}
.universal-btn{
    box-sizing: border-box;
    width: 194px;
    height: 40px;
    border-radius: 8px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.bili-mini-account input{
    width: 230px;
    outline: none;
    border: none;
    font-size: 14px;
    color: #212121;
    box-shadow: inset 0 0 0 20px #fff;
}
.bili-mini-account input{
    width: 230px;
    outline: none;
    border: none;
    font-size: 14px;
    color: #212121;
    box-shadow: inset 0 0 0 20px #fff;
}
.bili-mini-password input{
    position: relative;
    width: 210px;
    outline: none;
    border: none;
    font-size: 14px;
    color: #212121;
    box-shadow: inset 0 0 0 20px #fff;
}
.logerr{
  color: red;
  text-align: center;
}
