.title {
  height: 106px;
  padding-top: 24px;
}
.video{
  width: 100%;
  height: 446px;
  position: relative;
}
.videoplayer{
  min-width: 668px;
  min-height: 376px;
  width: 100%;
  height: 100%;
  /*object-fit: contain;*/
  position: relative;
  z-index: 1;
}
#canvas {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 80%;
  z-index: 2;
  background-color: #59ca73;
}
.bottom-toolbar{
  height: 64px;
  align-items: center;
  padding: 16px 0 20px 0;
}
.bottom-toolbar .toolbar-left span:hover{
  fill: #00aeec;
  color: #00aeec;
}
.bottom-toolbar .toolbar-left span{
  cursor: pointer;
  fill: #61666d;
  color: #61666d;
  font-weight: 500;
  line-height: 28px;
}
.tag{
  background-color: #f1f2f3;
  border-radius: 15px;
  margin: 0 12px 8px 0;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  width: 50px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
.bottom-ad{
  margin: 24px 0;
  height: 102px;
  background-color: #59ca73;
}
.reply-item{
  margin-top: 14px;
  /*padding-bottom: 100px;*/
  background-color: #ffffff;
}
.root-reply-container{
  padding: 22px 0 0 80px;
  position: relative;
  display: flex;
}
.root-reply-avatar{
  position: absolute;
  justify-content: center;
  width: 80px;
  cursor: pointer;
  left: 0;
}
.reply-btn:hover{
  color: #00aeec;
}
.support-icon :hover{
  fill: #00aeec;
}
.reply-box-container{
  padding: 25px 0 10px 80px;
}
.comment-reply-area{
  border-color: #c9ccd0;
  outline: none;
  resize: none;
  line-height: 38px;
  border: 1px solid #f1f2f3;
  padding: 5px 10px;
  width:100%;
  height: 100%;
  border-radius: 6px;
  background-color: #f1f2f3;
}
.comment-input-area{
  width: 100%;
  height: 100%;
  border: 1px solid #f1f2f3;
  border-radius: 6px;
  background-color: #f1f2f3;
  line-height: 38px;
  color: #18191c;
  outline: none;
  resize: none;
}
.comment-reply-area:hover,.comment-reply-area:focus,.comment-input-area:hover,.comment-input-area:focus{
  background-color: #ffffff;
}
