<div >
  <div class="title">
    <h1 style="line-height: 28px; font-size: 20px; font-weight: 500;margin-bottom: 6px;">{{video_info.title}}</h1>
    <div style="display: flex; flex-direction: column;font-size: 13px; height: 24px;line-height: 18px; position: relative;">
      <div>
        <span style="color: #9499a0;line-height: 18px;font-size: 13px;margin-right: 12px">{{video_info.play_num}}</span>
      </div>
      <div>
        <span style="color: #9499a0;line-height: 18px;font-size: 13px;margin-right: 12px">{{video_info.bullet_num}}</span>
      </div>
      <div>
        <span style="color: #9499a0;line-height: 18px;font-size: 13px;margin-right: 12px">{{video_info.uptime}}</span>
      </div>
      <div>
        <span style="color: #9499a0;line-height: 18px;font-size: 13px;margin-right: 12px">未经作者授权，禁止转载</span>
      </div>
    </div>
  </div>
  <div class="video">
    <div class="page">
      <video controls id="video" autoplay="autoplay">
        <source type="video/mp4">
      </video>
      <button (click)="start()">播放</button>
    </div>
  </div>
</div>
