<div class="bili-header_channel">
  <div class="channel-icons">
    <a class="channel-icons_item" target="blank">
      <div class="icon-bg icon-bg-1">
        <img src="assets/svgIcons/dynamic.svg"/>
      </div>
      <span>动态</span>
    </a>
    <a class="channel-icons_item" target="blank">
      <div class="icon-bg icon-bg-2">
        <img src="assets/svgIcons/hot.svg"/>
      </div>
      <span>热门</span>
    </a>
    <a class="channel-icons_item" target="blank">
      <div class="icon-bg icon-bg-3">
        <img src="assets/svgIcons/channel.svg"/>
      </div>
      <span>频道</span>
    </a>

  </div>
  <div class="right-channel-container">
    <div class="channel-items_left">
      left items
    </div>
    <div class="channel-items_right">
      right items
    </div>
  </div>
</div>
