.bili-header_channel{
  position: relative;
  margin: 0;
  padding: 0 60px;
  height: 110px;
  display: flex;
  align-items: center;
  background: #ffffff;
  width: 100%;
}
.channel-icons{
  margin-right: 8px;
  z-index: 0;
  display: flex;
  align-items: center;
}
.right-channel-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.channel-items_left{
  padding-right: 30px;
  position: relative;
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  grid-column: span 4;
  grid-gap: 10px;
  grid-template-rows: repeat(2,1fr);
  border-right:1px solid #e3e5e7;
}
.channel-items_right{
  width: 240px;
  grid-column: span 1;
  grid-row-gap: 10px;
  grid-auto-flow: column;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  flex-shrink: 0;
}
.channel-icons_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46px;
  height: 72px;
  margin-right: 24px;
  cursor: pointer;
}
.channel-icons_item .icon-bg{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  margin-bottom: 6px;
  border-radius: 50%;
}
.icon-bg-1{
  background-color: #ff9212;
}
.icon-bg-2{
  background-color: #f07775;
}
.icon-bg-3{
  background-color: #59ca73;
}
