<main class="bili-feed4-layout">
  <div class="fixed-channel-shim"></div>
  <div class="feed2">
    <div class="recommended-container_floor-aside">
      <div class="is-version8 container">
        <div class="recommended-swipe grid-anchor">
          <div class="recommend-swipe-core">
            <div class="recommended-swipe-body">

            </div>
          </div>
        </div>
        <div class="feed-card"></div>
        <div class="feed-card"></div>
        <div class="feed-card"></div>
        <div class="feed-card"></div>
        <div class="feed-card"></div>
        <div class="feed-card"></div>
      </div>
      <div class="search-results"
      infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
      >
      </div>
      <div class="feed-roll-btn">
        <button class="primary-btn rool-btn">
          <svg style="transform: rotate(0deg);"><use xlink:href="#widget-roll"></use></svg>
          <span>换一换</span>
        </button>
      </div>
    </div>
  </div>
</main>
