<div style="position: sticky; padding: 15px 0 250px 0;">
  <div class="owner">
    <div class="left-avatar">
      <a href="">

      </a>
    </div>
    <div class="right-intro">
      <div>
        <a href="">
          <span style="color: #18191c; font-weight: 500;font-size: 15px;">qww</span>
        </a>
      </div>
      <div>
        <span style="color: #9499a0; font-weight: 400;font-size: 13px;">qwqw</span>
      </div>
    </div>
  </div>
  <div class="bottom-recommend">
    <div class="recommend-card" *ngFor="let item of recommend_videos; index as i">
      <div class="left-preview"></div>
      <div class="right-video-intro"></div>
    </div>
  </div>
</div>
